<div class="notification-block fade-out" [ngClass]="{'fade-out': fadeOut}">
  <div class="notification-type {{notification.type}}"></div>
  <div class="notification-text">{{notification.text}}</div>
  <div class="info-block">
    <div class="short-info">
      <p class="time">{{notification.createdAt | date:'dd/MM/yy HH:mm'}}</p>
      <p>Type: {{notification.type}}</p>
    </div>
    <div class="type-indicator">
      <i *ngIf="notification.type === 'info'" class="fa fa-info-circle info-indicator"></i>
      <i *ngIf="notification.type === 'warning'" class="fa fa-exclamation-triangle warning-indicator"></i>
      <i *ngIf="notification.type === 'error'" class="fa fa-exclamation-circle error-indicator"></i>
      <i *ngIf="notification.type === 'system'" class="fa fa-cog system-indicator"></i>
    </div>
  </div>
</div>