.working-area
    margin: 20px

.title
    padding-bottom: 10px
    font-size: 1.4em
    font-weight: 600
    letter-spacing: 1px

/deep/ .ui-tabview 
    .ui-tabview-nav li .ui-tabview-close
        color: #848484
        margin: 0 0.5em 0 0 !important
        vertical-align: middle
