<app-instance-list></app-instance-list>
<app-edit-dashboard (edited)="onEdited($event)" (closed)="onClosed()" [display]="displayEditDashboard" [dashboardTitle]="editTitle"></app-edit-dashboard>
<div class="site-wrap">
    <div class="title">
        <h3>Dashboards</h3>
        <!-- <p-progressSpinner *ngIf="loading" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner> -->
        <!--<button pButton type="submit" label="Submit feedback" class="ui-button-raised ui-button-success" (click)="suc()"></button>
        --></div>
    <p-tabMenu [model]="dashboardMenuitems" [activeItem]="activeDashboardItem"></p-tabMenu>
    <div class="workspace" *ngIf="activeDashboardItem">
        <h3>{{activeDashboardItem.label}} chart
            <button pButton type="button " label="Delete " class="btnedit ui-button-danger ui-button-raised " (click)="delete() "></button>
            <button pButton type="button " label="Edit " class="btnedit ui-button-primary ui-button-raised " (click)="showCreatePopup(false) "></button>
        </h3>
        <img src="https://www.excel-easy.com/smi/examples/line-chart.png " alt=" ">
    </div>
</div>

<p-confirmDialog header="Confirmation " icon="pi pi-exclamation-triangle " width="425 " #cd>
    <p-footer>
        <button pButton type="button " class="ui-button-success ui-button-raised " pButton icon="pi pi-times " label="No " (click)="cd.reject() "></button>
        <button pButton type="button " pButton class="ui-button-danger ui-button-raised " icon="pi pi-check " label="Yes " (click)="cd.accept() "></button>
    </p-footer>
</p-confirmDialog>
<p-toast position="bottom-right" life="500"></p-toast>