.site-wrap
    margin: 20px

/deep/.ui-tabmenuitem
    #lastTab
        background-color: #58a339
        /deep/.ui-menuitem-text
            color: white
        /deep/.ui-menuitem-icon
            color: white
    #lastTab:hover
        background-color: #518c2a

.title
    padding-bottom: 10px
    font-size: 1.4em
    font-weight: 600
    letter-spacing: 1px

.workspace
    h3
        display: flexbox
    .btnedit
        float: right
        margin-left: 10px
        width: 70px
    




