<app-instance-list></app-instance-list>
<app-create-edit-dashboard #createEditDash></app-create-edit-dashboard>
<div class="working-area">
    <div class="title">
        Dashboards
    </div>
    <p-tabView>
        <p-tabPanel header="RAM" [closable]="false">
            <div class="chart">
                <h3>Chart 1</h3>
                <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
            </div>
        </p-tabPanel>
        <p-tabPanel header="CAM" [closable]="false">
            <div class="chart">
                <h3>Chart 2</h3>
                <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
            </div>
        </p-tabPanel>
        <p-tabPanel header="DAM" [closable]="false">
            <div class="chart">
                <h3>Chart 3</h3>
                <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
            </div>
        </p-tabPanel>
        <p-tabPanel header="Add Dashboard" rightIcon="pi pi-plus"></p-tabPanel>
    </p-tabView>
</div>