<app-dashboard-header [menu]="dbMenu.menu"></app-dashboard-header>  
<app-dashboard-menu #dbMenu></app-dashboard-menu>
<div class="content">
    <app-dashboard-tabs></app-dashboard-tabs>
    <div class="charts">
        <div class="chart">
            <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
        </div>
        <div class="chart">
            <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
        </div>
        <div class="chart">
            <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
        </div>
        <div class="chart">
            <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
        </div>
        <div class="chart">
            <img src="https://www.excel-easy.com/smi/examples/line-chart.png" alt="">
        </div>
    </div>
</div>
<div class="footer">
    &copy; All rights reserved !
</div>