<p-dialog [(visible)]="display" [modal]="true" [closable]=false [responsive]="true" [width]="810" [minWidth]="660"
          header="Create Dashboard" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [showHeader]="false"
          appendTo="body" [positionTop]="90"> <!--[top]="90px"left: 64px; [contentStyle]="{'overflow':'visible'}" [width]="350" [minWidth]="200" -->
    <div class="dashboard-inputs">
        <h2>Dashboard</h2>
        <div class="dashboard-input">
            <input placeholder="Title"
                   pInputText
                   required
                   minlength="2"
                   type="text"
                   class="form-control"
                   name="dTitle"
                   id="dTitle"
                   #dTitle="ngModel"
                   [(ngModel)]="title"/>

          <div *ngIf="dTitle.invalid && (dTitle.dirty || dTitle.touched)"
               class="alert alert-danger error-field">

            <div *ngIf="dTitle.errors.required">
              Title is required.
            </div>
            <div *ngIf="dTitle.errors.minlength">
              Title must be at least 2 characters long.
            </div>
          </div>
        </div>
    </div>
    <hr>
     
    <div class="center title">Generate common charts:</div>
    <div class="btns-generate footerbuttons">
        <button type="button" pButton (click)="generateAll()" label="Generate all" class="save ui-button-primary"></button>
        <button type="button" pButton (click)="customize()" label="Customize" class="close ui-button-primary"></button>
    </div>
   <div *ngIf="isSource" >
      <div class="wr-source" >   
        <p class="field view-inline">Select source: </p>
        <p-multiSelect 
            [options]="dropdownSources"
            [(ngModel)]="sources"
            [style]="{'width':'192px'}"
            (onChange)="processDataForAll()" [disabled]="!isSource">
        </p-multiSelect> 
      </div>     
     
      <p class="field center">Visualization</p>
      <p-scrollPanel [style]="{width: '100%', height: '235px'}">   
        <div *ngIf="showPreview">      
          <div *ngFor="let dashboardChart of dashboardCharts; let i = index" class="view-chart">            
              <div class="checkbox-margin center">
                <p-checkbox [(ngModel)]="isIncluded[i]" [disabled]="!isCustomize" binary="true"></p-checkbox>
              </div>
              <app-chart [chart]="dashboardChart"
                        [data]="dashboardChart.data"
                        [chartType]="dashboardChart.chartType"
                        [showDownload]="false">
              </app-chart>                  
          </div>     
        </div>   
      </p-scrollPanel>       
      
    </div>
    <div class="footerbuttons">
        <button type="button" pButton (click)="edit(dTitle)" label="Save" class="save ui-button-success" [disabled]="dTitle.invalid "></button>
        <button type="button" pButton (click)="closeDialog()" label="Close" class="close ui-button-danger"></button>
    </div>
</p-dialog>