.working-area
    margin: 20px

.title
    padding-bottom: 10px
    font-size: 22px
    font-weight: normal
    text-transform: uppercase

hr
    border: 0
    height: 0
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    
.table
    width: 90%
    margin: auto

.t-header
    background: #007ad9 !important
    color: #fff !important

.left-align
    text-align: left

.left-flex
    display: flex
    justify-content: flex-start
    align-items: center

.name-header
    width: 40%

.data-header
    width: 20%

.row-content
    height: 40px

.time-label
    margin-right: 5px

.time
    display: flex
    justify-content: flex-start
    align-items: center

.filters
    width: 90%
    margin: auto
    display: flex
    justify-content: space-between

.filter-label
    margin-bottom: 2px

.bottom-flex
    display: flex
    justify-content: flex-start
    align-items: flex-end

.paginator
    width: 90%
    margin: auto
    margin-top: 20px
    margin-bottom: 5px
