.section-wrp
  position: relative

.main-section
  padding: 150px
  background: #fff url(https://newrelic.com/assets/about/main/hero_141216.jpg) 50% 50% no-repeat
  background-size: cover
  color: white

.page-title
  margin: 0
  margin-bottom: 20px
  text-align: center
  font-size: 32px

.description
  max-width: 600px
  text-align: center
  margin: 0 auto
  padding: 20px 0
  border-top: solid 2px white
  border-bottom: solid 2px white