<div class="header">
  <a routerLink="/user" class="logo">Watcher</a>
  <p-growl [(value)]="msgs"></p-growl>

  <div class="ui-toolbar-group-right">

    <p-tieredMenu #bell [model]="bellItems" [popup]="true"></p-tieredMenu>
    
    <div class="notifications-block"  appClickOutside (clickOutside)="close()">
      <div class="toolbar-item">
        <button #btn type="button" pButton icon="fa fa-fw fa-bell-o" (click)="bellClick()"></button>
        <span class="topbar-badge">{{ notificationsNumber }}</span>
      </div>

      <div class="notifications-popup" *ngIf="isNotificationShow">
        <div class="markAsRead">
          <a (click)="markAsRead()">Mark as read</a>
        </div>
        <div class="notification-card" *ngFor="let notification of notifications">
          <div class="notification-type {{notification.type}}"></div>
          <div class="notification-text">{{notification.text}}</div>
          <div class="info-block">
            <div class="short-info">
              <p class="time">{{notification.createdAt | date:'dd/MM/yy HH:mm'}}</p>
              <p>Type: {{notification.type}}</p>
            </div>
            <div class="readIndicator">
              <i *ngIf="notification.wasRead" class="fa fa-check-square"></i>
              <i *ngIf="!notification.wasRead" class="fa fa-check"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="toolbar-item">
      <button #btn type="button" pButton icon="fa fa-fw fa-bullhorn" (click)="onFeedback()"></button>
    </div>

    <p-tieredMenu #cog [model]="cogItems" [popup]="true"></p-tieredMenu>
    <button #btn type="button" pButton icon="fa fa-fw fa-cog" (click)="cog.toggle($event)"></button>

    <p-tieredMenu #org [model]="orgItems" [popup]="true"></p-tieredMenu>
    <button #btn type="button" pButton icon="fa fa-sitemap" (click)="org.toggle($event)"></button>
    <app-add-new-organization [(display)]="displayAddNewOrganization" (displayChange)="onDisplayChange($event)"></app-add-new-organization>
    

    <p-tieredMenu #user [model]="userItems" [popup]="true"></p-tieredMenu>
    <a class="user-info" (click)="user.toggle($event)">
      <span>{{ currentUser?.displayName }}</span>
      <img src="{{currentUser?.photoURL}}"
           class="user-photo" alt="" />
      <i class="fa fa-sort-desc"></i>
    </a>
  </div>
</div>


