<p-dialog [(visible)]="display" [contentStyle]="{'overflow':'visible'}" [modal]="true" [responsive]="true" [width]="350"
  [baseZIndex]="10000">
  <p-header>
    New chat
  </p-header>

  <div class="ui-fluid">
    <form [formGroup]="chatSettingsForm">
      <p class="field">Name*:</p>
      <input type="text" pInputText formControlName="name" placeholder="Enter chat name">
    </form>

    <p class="field">Add user:</p>
    <p-autoComplete [(ngModel)]="wantedUser" [suggestions]="filteredUsers" (completeMethod)="filterUsers($event)" (onSelect)="addUser($event)"
      emptyMessage="User not found" placeholder="Write name or email">
      <ng-template let-user pTemplate="item">
        <div class="ui-helper-clearfix">
          <img class="user-list-img" src="{{user.photoURL || 'http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-8/128/User-blue-icon.png'}}"/>
          <strong>{{user.firstName}} {{user.lastName}}</strong>
          <div>{{user.email}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
    <p class="field">Members:</p>
    <div class="user-list">
      <div *ngFor="let user of users">
        <div class="ui-helper-clearfix user-list-item">
          <img class="user-list-img" src="{{user.photoURL || 'http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-8/128/User-blue-icon.png'}}"/>
          <strong>{{user.firstName}} {{user.lastName}}</strong>
          <i class="icon fa fa-close" (click)="deleteUser(user.id)"></i>
          <div>{{user.email}}</div>
        </div>
      </div>
    </div>
  </div>

  <p-footer>
    <div style="text-align:center">
      <button type="button" pButton (click)="createChat()" label="Create" [disabled]="!chatSettingsForm.valid"></button>
    </div>
  </p-footer>
</p-dialog>