<div class="working-area">
  
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
  <!-- <div class="row">
    <div class="col-md-12"> -->
      <div class="title">FEEDBACKS</div>
      <hr>
    </div>
  </div>

  <div class="ui-g ui-fluid">
      <div class="ui-g-1">DATE</div>
      <div class="ui-g-2">USER NAME</div>
      <div class="ui-g-3">TEXT</div>
      <div class="ui-g-1">WILL USE</div>
      <div class="ui-g-4">INFORMATIVELY | FRIENDLINESS | QUICKNESS</div>
      <!-- <div class="ui-g-2">INFORMATIVELY</div>
      <div class="ui-g-2">FRIENDLINESS</div>
      <div class="ui-g-1">QUICKNESS</div> -->
  </div>
  <div *ngFor="let feedback of lstFeedbacks; let i = index" class="ui-g ui-fluid">

      <div class="ui-g-1">{{feedback?.main.createdAt | date:'shortDate'}}</div>
      <div class="ui-g-2">{{feedback?.main.user?.displayName}}</div>
      <div class="ui-g-3">{{feedback?.main.text}}</div>
      <div class="ui-g-1">{{feedback?.willuse}}</div>
      <div class="ui-g-4">{{feedback?.info}} | {{feedback?.friendliness}} | {{feedback?.quickness}}</div>     
      
      <!-- <div class="ui-g-2">{{feedback?.informatively}} </div>
      <div class="ui-g-2">{{feedback?.friendliness}}</div>
      <div class="ui-g-1">{{feedback?.quickness}}</div> -->
      <div class="ui-g-1">
      <button pButton type="button " label="Response " class="btnedit ui-button-primary ui-button-raised " (click)="showCreatePopup(false) "></button>
    </div>  

  </div>
</div>