.container
    padding-left: 20px
    padding-top: 20px

.title
    padding-bottom: 10px
    font-size: 22px
    font-weight: normal

hr
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

input
  font-size: 15px

.label, .secondary-label
    padding-left: 10px
    padding-top: 10px
    padding-bottom: 5px
    font-size: 14px

.secondary-label
  font-size: 12px


.invalid
    color: red
    padding-left: 10px
    padding-bottom: 20px

.btn-panel
    padding: 10px

/deep/body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown
    border: 1px solid #707070

/deep/body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown:hover
    border: 1px solid black

/deep/.aggregation-checks
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  font-size: 12px
