.site-wrapper
    margin: 17px 0px 20px 32px

i
    font-family: fontawesome

.title
    padding-bottom: 10px
    font-size: 22px
    font-weight: normal

h3 
    display: inline-block
    padding: 10px 0px 0px 10px
    margin: 0

hr
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)

input
  font-size: 15px
    
.label
    padding-left: 10px
    padding-top: 10px
    padding-bottom: 5px
    font-size: 14px

.identifier
    input
        width: 60%
    button
        width: 15%

.btn-panel
    padding: 10px

.title
    padding-bottom: 10px
    font-size: 22px
    font-weight: normal
    
.invalid
    color: red
    padding-left: 10px
    padding-bottom: 20px


/deep/body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown
    border: 1px solid #707070

/deep/body p-dropdown.ng-dirty.ng-invalid > .ui-dropdown:hover
    border: 1px solid black

.ui-button-text
    margin-left: 9px