<div class="site-wrapper">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
      <div class="title">EDITING INSTANCE</div>
      <hr>
    </div>
  </div>
  <form [formGroup]="instanceForm" (ngSubmit)="onSubmit()">
    <div class="label">Title:</div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-mg-6 ui-lg-6">
        <div class="ui-inputgroup">
          <input type="text" formControlName="title" pInputText placeholder="Title">
        </div>
      </div>
    </div>

    <div class="invalid" *ngIf="instanceForm.get('title').errors && (instanceForm.get('title').touched ||instanceForm.get('title').dirty)">
        <label>Title is required.</label>
      </div>

    <div class="label">Platform:</div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-mg-6 ui-lg-6">
        <div class="ui-inputgroup">
          <input type="text" formControlName="platform" pInputText placeholder="Platform">
        </div>
      </div>
    </div>

    <div class="invalid" *ngIf="instanceForm.get('platform').errors && (instanceForm.get('platform').touched ||instanceForm.get('platform').dirty)">
        <label>Platform is required.</label>
      </div>

    <div class="label">Address:</div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-mg-6 ui-lg-6">
        <div class="ui-inputgroup">
          <input type="text" formControlName="address" pInputText placeholder="Address">
        </div>
      </div>
    </div>

    <div class="invalid" *ngIf="instanceForm.get('address').errors && (instanceForm.get('address').touched ||instanceForm.get('address').dirty)">
        <label>Address is required.</label>
      </div>

    <div class="btn-panel">
      <button pButton type="submit" label="Save" class="ui-button-raised ui-button-success"></button>
    </div>
  </form>
</div>