<div class="working-area">

  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="title">Instance activities</div>
      <hr>
    </div>
  </div>


  <p-table [value]="logs" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="column">TIME</th>
        <th class="column">MESSAGE</th>
        <th class="column">EVENT LEVEL</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-log>
      <tr>
        <td class="text-center">{{log.timestamp | date:'medium'}}</td>
        <td class="text-center">{{log.message}}</td>
        <td class="text-center">{{log.logLevelName}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
