<p-dialog class="download-dialog" header="DOWNLOAD DATA COLLECTOR" (onHide)="closeDialog()" appendTo="body" [(visible)]="display" [modal]="true" [responsive]="true"
    [draggable]="false" [width]="500" [minWidth]="500" [maximizable]="false" [baseZIndex]="999">
    <div class="wrapper">
        <div class="box header">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <p>Enter this instance id in desktop app: </p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <input type="text" readonly class="guid" [value]="guid" placeholder="Guid id" pInputText placeholder="Keyword">   
                        <button pButton class="ui-button-raised ui-button-info" (click)="copyToClipboard(guid)" label="Copy" ></button>      
                    </div>
                </div>
            </div>
        </div>
        <div class="box win">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <p class="lableOS">Windows</p>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-input">
                        <a href="https://filestoragetestbsa2018.blob.core.windows.net/watcher/DataCollector.exe"
                            pButton label="Download" (click)="closeDialog()" class="ui-button-info">
                        </a>      
                    </div>
                </div>
            </div>
        </div>
        <div class="box linux">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12">
                    <p class="lableOS">Linux</p>
                    <span>Ubuntu, Debian installer:</span>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-input">
                        <div class="linuxCmd">
                            <p >
                                <span>~$</span> sudo apt-get install
                            </p>
                            <p >
                                <span>~$</span> test
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-input">
                        <a href="https://filestoragetestbsa2018.blob.core.windows.net/watcher/DataCollector.exe"
                            pButton label="Download .deb" (click)="closeDialog()" class="ui-button-info">
                        </a>      
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12">
                        <p class="lableOS">Linux</p>
                        <span>other Linux installer:</span>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-input">
                            <div class="linuxCmd">
                                <p >
                                    <span>~$</span> sudo apt-get install
                                </p>
                                <p >
                                    <span>~$</span> test
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-input">
                            <a href="https://filestoragetestbsa2018.blob.core.windows.net/watcher/DataCollector.exe"
                                pButton label="Download .tgz" (click)="closeDialog()" class="ui-button-info">
                            </a>      
                        </div>
                    </div>
            </div>
        </div>
    </div>
</p-dialog>
