<div class="ui-widget notifications-popup" *ngIf="visible">
  <div class="notifications-empty" *ngIf="notifications.length == 0">
    You don`t have notifications yet.
  </div>
  <div *ngIf="notifications.length !== 0">
    <div class="but-mark-all" (click)="markAsReadAll()">
      Mark all as read
    </div>

    <div class="notification-container">
      <div class="ui-shadow message-container relative" *ngFor="let notification of notifications">
        <a class="action-icon read-icon fa fa-fw fa-eye" *ngIf="!notification.wasRead" (click)="markAsRead(notification.id)"></a>
        <a class="action-icon close-icon fa fa-fw fa-times" (click)="remove(notification.id)"></a>

        <span class="message-img icon-style fa fa-3x"
          [ngClass]="{
            'warning': notification.type == type.Warning,
            'error': notification.type == type.Error,
            'info': notification.type == type.Info}">
        </span>
        <div class="message-content" [ngClass]="{'unread-message': !notification.wasRead}">
          <span class="message-title text-overflow" style="width:240px">System message</span>
          <div class="message-text">{{notification.text}}</div>
          <div class="message-date text-overflow">{{notification.createdAt | date:'short'}}</div>
        </div>
      </div>
    </div>

  </div>
</div>