<div class="notifications-wrapper">
  <p-progressSpinner class="spinner notifications-empty" [style]="{width: '75px', height: '75px'}" *ngIf="isLoading" strokeWidth="2"></p-progressSpinner>
  <div class="notifications-empty" *ngIf="notifications.length == 0 && !isLoading">
    You don`t have notifications yet.
  </div>
  <div *ngIf="notifications.length !== 0">
    <div class="but-mark-all" (click)="markAsReadAll()">
      Mark all as read
    </div>

    <div class="notification-container">
      <div class="ui-shadow message-container relative" *ngFor="let notification of notifications">
        <div class="action-icon read-icon fa fa-fw fa-eye" *ngIf="!notification.wasRead" (click)="markAsRead(notification.id)"></div>
        <div class="action-icon close-icon fa fa-fw fa-times" (click)="remove(notification.id)"></div>

        <span class="message-img icon-style fa fa-3x info"
          [ngClass]="{
            'warning': notification?.notificationSetting?.type == type.Warning,
            'error': notification?.notificationSetting?.type == type.Error}">
        </span>
        <div class="message-content" [ngClass]="{'unread-message': !notification.wasRead}">
            <span *ngIf="message.data.instanceGuidId" (click)='redirectToInstance(message.data)'  class="message-title text-overflow clickable" style="width:240px">Instance message</span>
            <span  *ngIf="!message.data.instanceGuidId" class="message-title text-overflow" style="width:240px">System message</span>
          <div class="message-text">{{notification.text}}</div>
          <div class="message-date text-overflow">{{notification.createdAt | date:'short'}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
