.charts-area
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr))
  grid-gap: 20px
  justify-content: center

  .chart
    display: flex
    min-height: 400px

  .chart-title
    text-align: center
    font-size: 20px
    font-weight: bold

  .chart-item
    position: relative
    box-shadow: 2px 2px 5px 0px #c2c1c1
    background-color: white
    padding: 15px

.icon-panel
  position: absolute
  top: .25em
  right: .25em
  display: inline-block
  vertical-align: text-top

.action-icon
	cursor: pointer
	color: gray

.action-icon:hover
  color: black
