<div class="charts-area">
  <div class="chart-item" [ngClass]="chart.theme" *ngFor="let chart of charts">

    <div class="icon-panel action-icon fa fa-fw fa-cog" (click)="cog.toggle($event)" pTooltip="Options" tooltipPosition="top">
      <p-tieredMenu #cog appendTo="body" [model]="chart.chartMenu" [popup]="true"></p-tieredMenu>
    </div>

    <div class="chart-title">{{chart.title}}</div>
    <app-chart
      class="chart"
      [chart]="chart"
      [data]="chart.data"
      [activeEntries]="chart.activeEntries"
      [chartType]="chart.chartType">
    </app-chart>
  </div>
</div>
<!--[ngStyle]="{ 'display': 'flex', 'justifyContent': 'stretch'}"
  <smooth-dnd-container [groupName]="'1'" [getChildPayload]="getChildPayload1" (drop)="onDrop('charts', $event)"> 
  smooth-dnd-draggable
</smooth-dnd-draggable>
  </smooth-dnd-container>-->
