<form [formGroup]="userForm">
    <h4 class="label">Name</h4>
    <div class="ui-g ui-fluid"> 
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Username">         
            </div>
        </div>
    </div>

    <h4 class="label">Second Name</h4>
    <div class="ui-g ui-fluid"> 
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Username">         
            </div>
        </div>
    </div>
</form>