
<h4>Notification</h4>
<p-dropdown [options]="dropdown" [(ngModel)]="selectedNotificationSetting"></p-dropdown>

<div *ngIf="selectedNotificationSetting" class="ui-g ui-fluid">
      <div class="ui-g-4 ui-md-4">
        <h4 class="first">Disable</h4>
        <p-inputSwitch  [(ngModel)]="selectedNotificationSetting.isDisable"></p-inputSwitch>
      </div>

    <div class="ui-g-4 ui-md-4">
      <h4 class="first">Mute</h4>
      <p-inputSwitch  [disabled]="selectedNotificationSetting.isDisable" [(ngModel)]="selectedNotificationSetting.isMute"></p-inputSwitch>
    </div>

    <div class="ui-g-4 ui-md-4">
      <h4 class="first">Emailable</h4>
      <p-inputSwitch  [disabled]="selectedNotificationSetting.isDisable" [(ngModel)]="selectedNotificationSetting.isMailable"></p-inputSwitch>
    </div>
  </div>
  <div class="ui-g ui-fluid">
      <div class="ui-g-4 ui-md-4">
        <button (click)="onSave()" pButton class="ui-button-secondary" label="Save"></button>
      </div>
  </div>

