// hr
//     border: 0
//     height: 0
//     border-top: 1px solid rgba(0, 0, 0, 0.1)
//     border-bottom: 1px solid rgba(255, 255, 255, 0.3)
hr
    margin: 1px
    height: 1px
    background: #c8c8c8
    border: 0

h3 
  padding: 10px 0px 0px 10px
  margin: 0
  
.btn-inline-flex span
      margin-top: 0px

.btn-panel
    margin-top: 20px

// .container
//   padding-left: 20px
//   padding-top: 5px
  
.ui-g-12
  padding: 0px 0px 10px 0px
  margin-right: 20px

.title
    padding-bottom: 10px
    font-size: 22px
    font-weight: normal

.custom-table
  /deep/.ui-table-tbody
    text-align: center