<ngx-charts-line-chart
  [view]="view"
  [results]="data"
  [scheme]="colorScheme"
  [animations]="animations"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showRefLabels]="showRefLabels"
  [showRefLines]="showRefLines"
  [showGridLines]="showGridLines"
  [roundDomains]="roundDomains"
  [gradient]="gradient"
  [legend]="showLegend"
  [autoScale]="autoScale "
  [yScaleMin]="yScaleMin"
  [yScaleMax]="yScaleMax"
  [curve]="curve"
  (select)="onSelect($event)">
  <!--[timeline]="true"-->
</ngx-charts-line-chart>
