<header id="header">
    <div class="container">
        <h1>
            Watcher
        </h1>
        <nav id="nav">
            <ul>
                <li>
                    <a href="#">Item1</a>
                </li>
                <li>
                    <a href="#">Item2</a>
                </li>
                <li>
                    <a href="#">Item3</a>
                </li>
                <li>
                    <a href="#">Item3</a>
                </li>
                <li>
                    <button pButton type="button" class="ui-button-info">Sign in</button>
                </li>
                <li>
                    <button pButton type="button" class="ui-button-info">Sign up</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="banner">
    <h1>Know right now</h1>
    <p>Get the real-time insights that your software-driven business needs to innovate faster.</p>
</div>

<div class="content">
    <div class="info">
        <div class="infoContent">
            <img src="https://newrelic.com/content/dam/component-assets/homepage/hp01/hp01-bargraph.png" alt="Plot">
            <h1>
                Instrument your entire environment in minutes.
            </h1>
            <p>
                From the frontend to the infrastructure layer. On-prem, cloud, or hybrid. Track every change across all your apps and services with pinpoint clarity and full context.
                <p>
        </div>
    </div>
    <div class="picture">
    </div>
</div>