<header id="header">
    <div class="container">
        <h1>
            Watcher
        </h1>
        <nav id="nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Why watcher</a>
                </li>
                <li>
                    <a href="#">Advantages</a>
                </li>
                <li>
                    <button pButton type="button" class="ui-button-info">Sign in</button>
                </li>
                <li>
                    <button pButton type="button" class="ui-button-info">Sign up</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="banner">
    <h1>Know right now</h1>
    <p>Get the real-time insights that your software-driven business needs to innovate faster.</p>
</div>
<br>
<br>
<br>
<br>
<div class="content">
    <div class="info">
        <div class="infoContent">
            <img src="https://newrelic.com/content/dam/component-assets/homepage/hp01/hp01-bargraph.png" alt="Plot">
            <h1>
                Instrument your entire environment in minutes.
            </h1>
            <p>
                From the frontend to the infrastructure layer. On-prem, cloud, or hybrid. Track every change across all your apps and services with pinpoint clarity and full context.
                <p>
        </div>
    </div>
    <div class="picture">
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="content">
    <div class="picture2">
    </div>
    <div class="info2">
        <div class="infoContent">
            <img src="https://newrelic.com/content/dam/component-assets/homepage/hp01/hp01-piechart.png" alt="Plot">
            <h1>
                See all the data in context.
            </h1>
            <p>
                No more jumping between tools and custom views in unstructured data sources. Our curated UIs give you a single, comprehensive view of your entire stack—every change, every second, in full context.
                <p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="content">
    <div class="info3">
        <div class="infoContent">
            <img src="https://newrelic.com/content/dam/component-assets/homepage/hp01/hp01-arrows.png" alt="Plot">
            <h1>
                Get everyone on the same page
            </h1>
            <p>
                We live and breathe DevOps every day, so we know the power of teamwork—which helps us empower your teams, too. You can orient around what matters, resolve issues fast, and accelerate deploy cycles.
                <p>
        </div>
    </div>
    <div class="picture3">
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="cards">
    <ul class="cards">
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--female"></div>
                <div class="card__content">
                    <div class="card__title">
                        Measure what matters
                    </div>
                    <p class="card__text">Innovate faster and do DevOps right with New Relic.</p>

                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--cloud"></div>
                <div class="card__content">
                    <div class="card__title">
                        Cloud monitoring for dynamic environments
                    </div>
                    <p class="card__text">Instrument your cloud apps and infrastructure with New Relic and see your stack like never before.</p>

                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--ded"></div>
                <div class="card__content">
                    <div class="card__title">
                        See the truth behind your digital customer experience
                    </div>
                    <p class="card__text">Get end-to-end visibility for your services and ensure your end-user experiences are delightful.</p>
                </div>
            </div>
        </li>
    </ul>
</div>

<footer class="footer-distributed">

    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a href="#">Home</a> ·
            <a href="#">Why watcher</a> ·
            <a href="#">Advantages</a>
        </p>

        <p>Watcher © 2018</p>
    </div>

</footer>