.ui-lg-6
  padding: 0
  margin: 0

.content
  padding-top: 8vh
  height: 100vh
  width: 100%
  .infoContent
    max-width: 600px
    height: 30vh
    margin-top: 30vh
  .infoContent.left
    float: right
    text-align: left
    padding-right: 3vw
  .infoContent.right
    float: left
    text-align: right
    padding-left: 3vw

  h1
    margin-top: 2px

.picture
  background-size: cover

.pict1
  background: url(/assets/screenshots/dash1.png) no-repeat
.pict2
  background: url(/assets/screenshots/dash2.png) no-repeat center
.pict3
  background: url(/assets/screenshots/dash3.png) no-repeat


.input-btn-field
  margin: 0 0 10px 10px
  margin: 10px 10px 5px 10px

.input
  margin-right: 0
  margin-left: 0
  width: 100%


.label
  font-variant-caps: petite-caps
  font-size: 18px
  font-weight: 600

.title
  font-size: 24px
  font-weight: 600

.text
  margin-left: 20px

.small-content.right
  float: left
  text-align: right
  padding-left: 3vw

.small-content.left
  text-align: left
  padding-right: 3vw

.icons
  margin-top: 50px
  a
    display: inline-block
    width: 35px
    height: 35px
    background-color: #33383b
    border-radius: 2px
    font-size: 20px
    color: #ffffff
    text-align: center
    line-height: 35px
    margin-left: 3px

#contacts
    .title
      float: left
    .right
      float: right

@media (max-width: 1250px)
  .infoContent.left
    padding-left: 3vw
  .infoContent.right
    padding-right: 3vw


@media (max-width: 1025px)
  .wrapper-content
    padding: 0 3vw
    .content
      padding: 20px
      font-size: 15px
      height: 100vh
      margin-top: 8vh
      box-shadow: 3px 4px 21px -5px rgba(0,0,0,0.75)
      .text
        height: 25vh
      .picture
        height: 65vh
      img
        width: 50px
      .infoContent.left,
      .infoContent.right
        max-width: 600px
        width: 100%
        height: 25vh
        margin: 0
        padding: 0
      .infoContent.left
        float: left
      .infoContent.right
        float: right

@media (max-width: 500px)
  .wrapper-content
    .content
      .picture
        height: 50vh
  .picture.pict2
    background: url(/assets/screenshots/dash2.png) 15% no-repeat

@media (max-width: 340px)
  .wrapper-content
    .content
      .picture
        height: 40vh
