<div class="working-area">

  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="title">DATA COLLECTOR</div>
      <hr>
    </div>
  </div>

  <p-table [value]="collectorApps" [paginator]="false" [rows]="5" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,20]">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width:10%">CREATED AT</th>
        <th style="width:10%">VERSION</th>
        <th style="width:8%">EXE Link</th>
        <th style="width:8%">DEB Link</th>
        <th style="width:8%">TGZ Link</th>
        <th style="width:10%">IS ACTIVE</th>
        <th style="width:10%">REMOVE</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collectorApp>
      <tr>
        <td class="center">{{collectorApp.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td class="center">{{collectorApp.version}}</td>
        <td class="center">{{collectorApp.exeLink}}</td>
        <td class="center">{{collectorApp.debLink}}</td>
        <td class="center">{{collectorApp.tgzLink}}</td>
        <td class="center">{{collectorApp.IsActive}}</td>
        <td>
          <div class="center">
            <button pButton type="button " label="Remove" class="btnedit ui-button-primary ui-button-raised " (click)="showPopup(user)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button pButton type="button " label="Add new" class="btnedit ui-button-primary ui-button-raised " (click)="showAddWindow()"></button>
</div>

<p-dialog header="Add new dataCollector version." [(visible)]="displayAddWindow" [modal]="true"
  [maximizable]="false" [baseZIndex]="10000" [width]="600">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p class="field">Ceated At:</p>
        <input type="text"  pInputText placeholder="Ceated At" />
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-8">
        <p class="field">Version:</p>
        <input  type="text"  pInputText placeholder="Version number" />
      </div>
      <div class="ui-g-4">
        <p class="center space">isActual:</p>
        <div class="center">
          <p-checkbox  binary="false"></p-checkbox>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
          <input type="text"  [(ngModel)]="collectorApp.exeLink" pInputText placeholder="Exe file" />
          <div class="upload-btn-wrapper">
            <button pButton class="ui-button-raised ui-button-success btn" label="Upload"></button>
            <input #exeFile type="file"  (change)="uploadExeFile(exeFile.files)" />
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
          <input type="text"  [(ngModel)]="collectorApp.tgzLink" pInputText placeholder="Tgz file" />
          <div class="upload-btn-wrapper">
            <button pButton class="ui-button-raised ui-button-success btn" label="Upload"></button>
            <input #tgzFile type="file"  (change)="uploadTgxFile(tgzFile.files)" />
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
          <input type="text"  [(ngModel)]="collectorApp.debLink" pInputText placeholder="Deb file" />
          <div class="upload-btn-wrapper">
            <button pButton class="ui-button-raised ui-button-success btn" label="Upload"></button>
            <input #debFile type="file"  (change)="uploadDebFile(debFile.files)" />
          </div>
        </div>
      </div>
    </div>


  <p-footer>
    <div class="center">
      <button type="button" pButton (click)="onSubmit()" class="ui-button-raised ui-button-success"  label="Save"></button>
      <button type="button" pButton (click)="onCancel()" label="Cancel" class="ui-button-warning"></button>
    </div>
  </p-footer>
  </p-dialog>