/deep/ .tabs 
    .ui-tabmenu .ui-tabmenu-nav > li.ui-state-default
        background-color: #3198E1;        

/deep/ .tabs .ui-menuitem-link
    color: #ffffff !important;

/deep/ .tabs
    .ui-tabmenu .ui-tabmenu-nav > li.ui-state-default:hover
        background-color: #4FB6FF;

        