<div class="center">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="title">FEEDBACK</div>
      <hr>
      <div>Thank you for taking the time to fill in our online feedback form. By providing us your feedback, you are helping us
        understand what we do well and what improvements we need to implement. </div>
    </div>
  </div>

  <div class="ui-g container">
    <div class="ui-g-12">
      <div class="ui-g-3 ">
      </div>
      <div class="ui-g-3 ">
        Unsatisfied
      </div>
      <div class="ui-g-3 ">
        Neutral
      </div>
      <div class="ui-g-3 ">
        Satisfied
      </div>
    </div>
  </div>

  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="ui-g container">
      <div class="ui-g-12">
        <div class="ui-g-3 ">
          Informatively
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="informatively" formControlName="informatively" value="Unsatisfied"></p-radioButton>
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="informatively" formControlName="informatively" value="Neutral"></p-radioButton>
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="informatively" formControlName="informatively" value="Satisfied"></p-radioButton>
        </div>
      </div>
    </div>

    <div class="ui-g container">
      <div class="ui-g-12">
        <div class="ui-g-3">
          Friendliness
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="friendliness" formControlName="friendliness" value="Unsatisfied"></p-radioButton>
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="friendliness" formControlName="friendliness" value="Neutral"></p-radioButton>
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="friendliness" formControlName="friendliness" value="Satisfied"></p-radioButton>
        </div>
      </div>
    </div>

    <div class="ui-g container">
      <div class="ui-g-12">
        <div class="ui-g-3 ">
          Quickness
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="quickness" formControlName="quickness" value="Unsatisfied"></p-radioButton>
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="quickness" formControlName="quickness" value="Neutral"></p-radioButton>
        </div>
        <div class="ui-g-3 ">
          <p-radioButton name="quickness" formControlName="quickness" value="Satisfied"></p-radioButton>
        </div>
      </div>
    </div>

    <div class="label">Would you use Watcher in the future?</div>
    <div class="ui-g">
      <div class="ui-g-12">
        <p>
          <p-radioButton name="willUse" formControlName="willUse" value="yes"></p-radioButton> Yes </p>
        <p>
          <p-radioButton name="willUse" formControlName="willUse" value="maybe"></p-radioButton> Maybe </p>
        <p>
          <p-radioButton name="willUse" formControlName="willUse" value="no"></p-radioButton> No </p>
      </div>
    </div>

    <div class="label">Feel free to add any other comments or suggestions:</div>
    <div class="ui-g">
      <div class="ui-g-12">
        <textarea rows="5" formControlName="suggestions" pInputTextarea></textarea>
      </div>
    </div>
    <div class="btn-panel">
      <button pButton type="submit" label="Submit" class="ui-button-raised ui-button-success"></button>
    </div>
  </form>
</div>