/* You can add global styles to this file, and also import other style files */
body
  background-color: #F8FAFC
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  font-family: helvetica, sans-serif

a
  text-decoration: none

.custom-upload-btn
  .ui-button
    display: block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    opacity: 0
