/* You can add global styles to this file, and also import other style files */
body 
    margin: 0;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    color: #333c40;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;

a 
    text-decoration: none;       