.theme-wrapper
    $bodyColor: #F8FAFC !global
    $headerColor: rgb(0,0,0) !global
    $headerButtonBackgroundColor: #313232 !global
    $headerButtonBorder: 1px solid #313232 !global
    $headerButtonColor: #FFFFFF !global
    $logoColor: #FFFFFF !global
    $panelmenuStateActiveColor: #007ad9 !global
    $panelmenuStateActiveBorder: 1px solid #007ad9 !global
    $buttonFontSize: 14px !global
    $buttonHeight: 33px !global
    $inputHeight: 33px !global
    $leftSideMenuColor: #FFFFFF !global
    $leftSideMenuBorderRight: 1px solid #e3e9ea !global