<!--<ngx-charts-pie-chart-->
<!--[view]="view"-->
<!--[scheme]="colorScheme"-->
<!--[results]="single"-->
<!--[gradient]="gradient"-->
<!--[legend]="showLegend"-->
<!--[animations]="true"-->
<!--(select)="onSelect($event)">-->

<!--</ngx-charts-pie-chart>-->

<ngx-charts-line-chart
  [view]="view"
  [results]="marketData"
  [scheme]="colorScheme"
  [animations]="true"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [showRefLabels]="true"
  [showRefLines]="true"
  [showGridLines]="true"
  [roundDomains]="false"
  [gradient]="gradient"
  [legend]="showLegend"
  [autoScale]="true"
  [timeline]="true"
  (select)="onSelect($event)">

</ngx-charts-line-chart>

<!--<ngx-charts-bar-vertical-->
<!--[view]="view"-->
<!--[scheme]="colorScheme"-->
<!--[results]="single"-->
<!--[gradient]="gradient"-->
<!--[xAxis]="showXAxis"-->
<!--[yAxis]="showYAxis"-->
<!--[legend]="showLegend"-->
<!--[showXAxisLabel]="showXAxisLabel"-->
<!--[showYAxisLabel]="showYAxisLabel"-->
<!--[xAxisLabel]="xAxisLabel"-->
<!--[yAxisLabel]="yAxisLabel"-->
<!--(select)="onSelect($event)">-->
<!--</ngx-charts-bar-vertical>-->

<!--<ngx-charts-bar-vertical-stacked-->
<!--[view]="view"-->
<!--[results]="multi"-->
<!--[scheme]="colorScheme"-->
<!--[customColors]="customColors"-->
<!--[gradient]="gradient"-->
<!--[xAxis]="showXAxis"-->
<!--[yAxis]="showYAxis"-->
<!--[legend]="showLegend"-->
<!--[barPadding]="8"-->
<!--[showGridLines]="true"-->
<!--[showXAxisLabel]="showXAxisLabel"-->
<!--[showYAxisLabel]="showYAxisLabel"-->
<!--[xAxisLabel]="xAxisLabel"-->
<!--[yAxisLabel]="yAxisLabel"-->
<!--(select)="onSelect($event)">-->

<!--</ngx-charts-bar-vertical-stacked>-->
