<button pButton type="button" (click)="showDialog()" class="ui-button-raised" label="Sign In / Sign Up"></button>

<p-dialog class="authorization-dialog" appendTo="body" [(visible)]="display" [modal]="true" [responsive]="true" [draggable]="false" [width]="350" [minWidth]="200" [maximizable]="false" [baseZIndex]="10000">
    <p-header>
        <span *ngIf="isSignIn">Sign In</span>
        <span *ngIf="!isSignIn">Sign Up</span>
    </p-header>
    <ng-template [ngTemplateOutlet]="loadTemplate()">
    </ng-template>

    <p-footer>
        <p *ngIf="isSignIn">
            <span>Not a member? </span>
            <button (click)="showSignUp()" pButton label="Sign Up"></button>
        </p>
        <p *ngIf="!isSignIn && !isSuccessSignUp">
            <span>Already registered? </span>
            <button (click)="showSignIn()" pButton label="Sign In"></button>
        </p>
        <p *ngIf="!isSignIn && isSuccessSignUp">
            <button (click)="saveUserDetails()" pButton label="Save"></button>
        </p>
    </p-footer>

</p-dialog>


<ng-template #signInTemplate>
    <div class="auth-buttons">
        <button (click)="signInWithGoogle()" class="auth-button auth-btn-google">
            <span><img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"></span>
            <span class="firebaseui-idp-text">Sign In with Google</span>
        </button>
        <button (click)="signInWithFacebook()" class="auth-button auth-btn-facebook">
                <span><img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/facebook.svg"></span>
                <span class="firebaseui-idp-text">Sign In with Facebook</span>
        </button>
        <button (click)="signInWithTwitter()"  class="auth-button auth-btn-twitter">
                <span><img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/twitter.svg"></span>
                <span class="firebaseui-idp-text">Sign In with Twitter</span>
        </button>
    </div>
</ng-template>


<ng-template #signUpTemplate>
    <div class="auth-buttons">
        <button (click)="signUpWithGoogle()" class="auth-button auth-btn-google">
                <span><img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"></span>
                <span class="firebaseui-idp-text">Sign Up with Google</span>
            </button>
            <button (click)="signUpWithFacebook()" class="auth-button auth-btn-facebook">
                    <span><img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/facebook.svg"></span>
                    <span class="firebaseui-idp-text">Sign Up with Facebook</span>
            </button>
            <button (click)="signUpWithTwitter()"  class="auth-button auth-btn-twitter">
                    <span><img class="firebaseui-idp-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/twitter.svg"></span>
                    <span class="firebaseui-idp-text">Sign Up with Twitter</span>
            </button>
    </div>
</ng-template>

<ng-template #userDetailsTemplate>
    <div class="auth-buttons">
        <div class="ui-float-label auth-buttons-item">
            <input placeholder="User name" type="text" size="27" pInputText>
        </div>
        <div class="ui-float-label auth-buttons-item">
            <input placeholder="Email" type="email" size="27" pInputText>
        </div>
    </div>
</ng-template>