<div class="working-area">

  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="title">USERS</div>
      <hr>
    </div>
  </div>


  <p-table [value]="users" [paginator]="true" [rows]="5" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,20]" [lazy]="true" (onLazyLoad)="loadUsersLazy($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width:7%">CREATED AT</th>
        <th style="width:8%">PHOTO</th>
        <th style="width:8%">DISPLAY NAME</th>
        <th style="width:8%">FIRST NAME</th>
        <th style="width:8%">LAST NAME</th>
        <th style="width:14%">BIO</th>
        <th style="width:22%">EMAIL</th>
        <th> COMPANY ID</th>
        <th style="width:6%">IS ACTIVE</th>
        <th style="width:6%">ROLE</th>
        <th style="width:6%">EDIT</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td class="center">{{user.createdAt | date:'longDate'}}</td>
        <td class="center">
          <div class="small-photo ">
            <img *ngIf="user.photoURL" src="{{user.photoURL}}" alt="profile photo" class="small-photo" /> 
          </div>
        </td>
        <td class="center">{{user.displayName}}</td>
        <td class="center">{{user.firstName}}</td>
        <td class="center">{{user.lastName}}</td>
        <td class="center">{{user.bio}}</td>
        <td class="center">{{user.email}}</td>
        <td class="center">{{user.lastPickedOrganizationId}}</td>
        <td class="center">
          <i *ngIf="user.isActive" class="fa fa-check-circle-o" style="font-size: 25px"></i>
          <i *ngIf="!user.isActive" class="fa fa-times-circle-o" style="font-size: 25px"></i>
        </td>
        <td class="center">{{user.role.name}}</td>
        <td>
          <div class="center">
            <button pButton type="button " label="Edit " class="btnedit ui-button-primary ui-button-raised " (click)="showPopup(user)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>


<p-dialog header="Update user" [(visible)]="displayPopup" [modal]="true" [responsive]="true" [width]="500" [minWidth]="350"
  [minY]="70" [maximizable]="false" [baseZIndex]="10000" [contentStyle]="{'overflow':'visible'}">
  <!--[contentStyle]="{'overflow': 'hidden'}" -->
  <div class="ui-g ui-fluid">
    <div class="ui-g-6">
      <form [formGroup]="userForm">
        <p class="field center">Profile photo</p>
      </form>
      <div>
        <figure class="cap-bot ">
          <div class="img1">
            <img src="{{photoUrl}}" alt="profile photo" class="img1">
          </div>
          <figcaption class="center custom-upload-btn">
            <span>
              <i class="fa fa-camera"></i> Update profile photo</span>
            <p-fileUpload #upload mode="basic" name="myfile[]" files="photosList" accept="image/*" (uploadHandler)="onImageSelected($event.files)"
              customUpload="true" maxFileSize="2000000" auto="true" chooseLabel="Change"></p-fileUpload>
          </figcaption>
        </figure>

        <p-dialog [(visible)]="display" [showHeader]="false" [closable]=false [modal]="true" [responsive]="true" [draggable]="false">
          <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>

          <div class="btn-panel crop-btn-panel">
            <button pButton class="ui-button-raised ui-button-primary" (click)="onCropSave()" label="Done"></button>
            <button pButton class="ui-button-raised ui-button-warning" (click)="onCropCancel() " label="Cancel"></button>
          </div>
        </p-dialog>
      </div>

      <div class="inline">
        <p class="fieldRole">Role: </p>
        <!--<p-listbox [options]="lstRoles" [(ngModel)]="selectedRole" optionLabel="name" (toggleSelect)="selectedRole = null"
              [listStyle]="{'max-height':'30px', 'min-width':'176px'}"> </p-listbox>-->
        <p-dropdown [options]="dropdownRole" [(ngModel)]="selectedRole" [style]="{'width':'178px'}"></p-dropdown>
      </div>

      <form [formGroup]="userForm">
        <p class="field">Is active:
          <p-checkbox formControlName="isActive" binary="true"></p-checkbox>
        </p>
      </form>
    </div>

    <div class="ui-g-6">
      <form [formGroup]="userForm">
        <p class="field">Display name</p>
        <input size="41" type="text" formControlName="displayName" pInputText />
        <p class="field">First name</p>
        <input size="41" type="text" formControlName="firstName" pInputText />
        <p class="field">Last name</p>
        <input size="41" type="text" formControlName="lastName" pInputText />
        <p class="field">Bio</p>
        <textarea rows="3" [cols]="42" formControlName="bio" pInputTextarea></textarea>
      </form>
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <!--<div class="inline"> </div> appendTo="body"  , position:'fixed'-->
    <div class="ui-g-6">
      <p class="fieldOrgs">List of other organizations</p>
    </div>
    <div class="ui-g-4">
      <p-dropdown [options]="dropdownCompany" [(ngModel)]="selectedCompany" [style]="{'width':'150px'}" filter="true"></p-dropdown>
    </div>
    <div class="ui-g-2">
      <button pButton label="Invite" (click)="onSentInviteToEmail()" class="ui-button-primary ui-button-raised"></button>
    </div>
  </div>

  <p class="field ui-g ui-fluid space">List of your organizations</p>
  <div class="border">

    <div class="ui-g ui-fluid">
      <div class="ui-g-3 center">Name</div>
      <div class="ui-g-6 center">Email</div>
      <div class="ui-g-3 "></div>
    </div>

    <div class=" ui-fluid" *ngIf="lstUserCompany">
      <p-scrollPanel [style]="{width: '457px', height: '67px'}" styleClass="custom">
        <div *ngFor="let organization of lstUserCompany; let i = index" class=" ui-fluid">
          <div class="ui-g-3 center fieldOrg">{{organization?.name}} </div>
          <div class="ui-g-6 center fieldOrg">{{organization?.email}} </div>
          <div class="ui-g-3 center">
            <button pButton label="Unassign" [disabled]="lstUnassign[i]" (click)="onUnassign(organization, i)" class="ui-button-raised ui-button-danger"></button>
          </div>
        </div>
      </p-scrollPanel>
    </div>

  </div>

  <p-footer>
    <div class="center">
      <button type="button" pButton class="ui-button-raised ui-button-success" (click)="onSubmit()" label="Save"></button>
      <button type="button" pButton (click)="onCancel()" label="Cancel" class="ui-button-warning"></button>
    </div>
  </p-footer>

</p-dialog>