<app-conversation-panel [onDisplay]="onDisplayChat"></app-conversation-panel>
<app-chat-create-popup [onDisplay]="onDisplayChatCreating"></app-chat-create-popup>

<div class="chat-list-panel">
  <p-accordion>
    <p-accordionTab>
      <p-header>
        Chats
        <i class="icon icon-right fa fa-plus" (click)="openChatCreating()"></i>
      </p-header>
      <p-listbox [options]="chatList" [(ngModel)]="selectedChat" (onChange)="openChat()">
        <ng-template let-chat pTemplate="item">
          <i class="pi pi-fw pi-users"></i>
          <span class="chat-name"> {{chat.value.name}}</span>
        </ng-template>
      </p-listbox>
    </p-accordionTab>
  </p-accordion>
</div>