<app-chat-create-popup [onDisplay]="onDisplayCreating"></app-chat-create-popup>

<div class="chat-list-panel ui-shadow">
  <p-accordion expandIcon="" collapseIcon="">
    <p-accordionTab>
      <p-header class="vertical-center">
        <div>
          <div class="panel-name">
            <span *ngIf="totalUnreadMessages" class="message-counter">{{totalUnreadMessages}}</span>
            Chats
          </div>
        </div>
        <i class="icon icon-right fa fa-plus" (click)="openCreating($event)" pTooltip="Create" tooltipPosition="top"></i>
      </p-header>
      <div class="text-center spinner" *ngIf="isLoading">
        <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="3"></p-progressSpinner>
      </div>
      <p class="empty-chat" *ngIf="!chatList.length && !isLoading">
        No chats to show
      </p>
      <p-listbox [options]="chatList" *ngIf="chatList.length && !isLoading" [(ngModel)]="selectedChat" (onChange)="openChat()">
        <ng-template let-chat pTemplate="item">
          <div class="ui-fluid ui-g">
            <div class="ui-g-3 ui-g-nopad" style="position:relative">
              <img class="chat-list-img" src="{{getChatImage(chat?.value)}}" />
              <span *ngIf="chat.value.unreadMessagesCount" class="message-counter counter-absolute">
                {{chat.value.unreadMessagesCount}}
              </span>
            </div>
            <div class="ui-g-9 ui-g-nopad">
              <span class="chat-list-name text-overflow">{{chat.value.name}}</span>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </p-accordionTab>
  </p-accordion>
</div>

<div class="chat-window" *ngFor="let window of chatWindows; let i = index" [ngStyle]="{'right': 190 + (250 + 20) * i + 'px'}">
  <app-conversation-panel [window]="window" (close)="removeChatWindow(window.chat.id)" (extended)="clearCounterForChat($event)"></app-conversation-panel>
</div>