/deep/.ui-accordion-header
	margin: 0 !important
	a
		padding: 4px !important
	
/deep/.ui-accordion-content
	padding: 0 !important
	border-top: 0
	height: 300px
	overflow-x: hidden !important

/deep/.ui-inputtext
	border-radius: 0 !important

/deep/.ui-button
	border-radius: 0 !important

.chat-list-panel
	position: fixed
	bottom: 0
	right: 20px
	width: 150px
	/deep/.ui-listbox
		border: 0
	/deep/.ui-listbox-item
		display: inline-flex !important
		width: 100%

.icon
    cursor: pointer
    margin: 4px

.icon:hover
    color: gray

.icon-right
	float: right

.field
    margin: 3px 0

.title
	float: right
	width: 70%
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.user-list-img
	width: 40px
	height: 40px
	float: left
	margin-right: 5px

.member-item
	border-bottom: 1px solid #d5d5d5
	padding: 5px