<p-dialog [header]="dialogTitle"
          [(visible)]="visible"
          [modal]="true"
          [minWidth]="1000"
          [minY]="100"
          [resizable]="true"
          [draggable]="false"
          [maximizable]="true"
          [blockScroll]="true"
          (onAfterToggle)="closeDialog()">

  <div class="ui-g ui-fluid">
    <div class="ui-g-3 ui-g-nopad">
      <div class="chart-panel-menu">
      <div class="chart-panel-menu-title field-top">Data:</div>
      <p class="field">Select chart type: </p>
      <p-dropdown [options]="dropdownTypes"
                  [autoWidth]="false"
                  [(ngModel)]="dashboardChart.chartType"
                  placeholder="Select a type"
                  (onChange)="processChartType()">
      </p-dropdown>
      <p class="field">Show total:
        <p-checkbox [ngModel]="dashboardChart?.showCommon"
                    (ngModelChange)="dashboardChart.showCommon=$event"
                    (onChange)="resetDataSources()"
                    binary="true">
        </p-checkbox>
      </p><!--type [disabled]="!dashboardChart.dataSources.length<1"-->
      <p class="field">Select source: </p>
      <p-multiSelect *ngIf="dashboardChart.showCommon"
                     class="custom-multiselect"
                     [filter]="false"
                     [showHeader]="false"
                     [options]="dropdownSources"
                     [(ngModel)]="dashboardChart.dataSources"
                     maxSelectedLabels="1"
                     [selectionLimit]="getMultiSelectNumber()"
                     (onChange)="multiSelect($event)">
      </p-multiSelect>
      <p-dropdown *ngIf="!dashboardChart.showCommon"
                  [autoWidth]="false"
                  [options]="dropdownGroupSources"
                  placeholder="Select a type"
                  (onChange)="dropDownSelect($event)"
                  [group]="true">
      </p-dropdown>
      <form [formGroup]="chartForm">
        <p class="field">Number of heavy processes:</p>
        <div class="number-spiner">
          <p-spinner size="17"
                     [(ngModel)]="processesNumber"
                     (onChange)="processData()"
                     [disabled]="spinnerDisabled"
                     formControlName="mostLoaded"
                     [min]="1"
                     [max]="100">
          </p-spinner>
        </div>
      </form>
      <p class="field">Threshold: {{dashboardChart.threshold}}</p>
      <div class="field">
        <p-slider [(ngModel)]="dashboardChart.threshold"
                  [disabled]="dashboardChart.showCommon">
        </p-slider>
      </div>
      <p class="field">Show data for (5-60 min): {{historyTime}}</p>
      <div class="field">
        <p-slider [(ngModel)]="historyTime"
                  [min]="5"
                  [max]="60">
        </p-slider>
      </div>
      <div class="chart-panel-menu-title field" style="margin-top:30px">Stylization:</div>
      <p class="field">Title: </p>
      <input type="text"
             [(ngModel)]="dashboardChart.title"
             pInputText/>
      <p class="field">Y axis label (optional): </p>
      <input type="text"
             [(ngModel)]="dashboardChart.yAxisLabel"
             pInputText/>
      <p class="field">X axis label (optional): </p>
      <input type="text"
             [disabled]="isGuage()"
             [(ngModel)]="dashboardChart.xAxisLabel"
             pInputText/>
      <p class="field">Width: </p>
      <div class="number-spiner">
        <p-spinner size="17"
                   [min]="200"
                   [max]="1000">
        </p-spinner>
      </div>
      <p class="field">Height: </p>
      <div class="number-spiner">
        <p-spinner size="17"
                   [min]="200"
                   [max]="1000">
        </p-spinner>
      </div>
      <p class="field">Color schemes:</p>
      <p-dropdown [options]="colorSchemes"
                  [autoWidth]="false"
                  optionLabel="name"
                  [(ngModel)]="dashboardChart.colorScheme"
                  placeholder="Select a scheme"
                  (onChange)="processData()">
      </p-dropdown>
    </div>

    </div>

    <div class="ui-g-9">
      <p class="field-top center">Visualization</p>
      <div class="view-chart" *ngIf="showPreview && dashboardChart.data && dashboardChart.data.length > 0">
        <div class="chart-title">{{dashboardChart.title}}</div>
        <app-chart [chart]="dashboardChart"
                   [data]="dashboardChart.data"
                   [chartType]="dashboardChart.chartType"
                   [showDownload]="false">
        </app-chart>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="center">
      <!-- [disabled]="!((selectedType || selectedType === 0) && (selectedSource.length>0))"-->
      <!--&& selectedSource <button type="button" pButton class="ui-button-raised ui-button-icon-primary" (click)="processData()" label="Preview"></button>-->
      <button type="button" pButton class="ui-button-raised ui-button-success" (click)="onEditChart()" label="Save"></button>
      <button type="button" pButton (click)="closeDialog()" label="Cancel" class="ui-button-warning"></button>
    </div>
  </p-footer>

</p-dialog>
