.menu-wapper
  width: 27%

.chart-panel-menu
  overflow-y: auto
  height: 500px
  padding: 7px 8px

.chart-panel-menu-title
  font-weight: bolder
  font-size: 1.2em
  border-bottom: 1px solid #c8c8c8

.field-top
  margin-bottom: 3px

.field
  margin: 9px 0 3px

.number-spiner
  width: 100px

.custom-multiselect
  /deep/.ui-multiselect-item
    padding: .4em .4em !important

.visualization-wapper
  width: 73%
  overflow: hidden

.chart-title
  text-align: center
  font-size: 30px
  font-weight: bold
  padding-top: 10px
  font-family: "Open Sans", "Helvetica Neue", sans-serif

.view-chart
  display: flex
  align-items: center
  justify-content: center
  min-height: 450px
  border: 1px solid #a6a6a6
  padding: 10px
  margin: 10px
