*
    border: 1px solid black
    margin: 0

h1
    margin-bottom: 10px
    color:  #6f7277

.guid
    margin-top: 3px
    font-weight: bolder
a
    margin-top: 10px
    width: 50%
button
    float: right
    height: 20px
p
    height: 20px
