*
    margin: 0

h1
    margin-bottom: 10px
    color: rgb(96,96,96)

.guid
    margin-top: 3px
    font-weight: bolder
a
    margin-top: 10px
    width: 50%
button
    float: right
    height: 20px
p
    height: 20px
