/deep/.ui-dialog
    width: 20em
    .ui-dialog-content
        display: none
    .ui-dialog-titlebar
        display: none
    .ui-dialog-footer
        text-align: center !important
    .message
        margin-bottom: 14px
    h3
        margin: 14px 0px
    button
        margin: 0 !important