<p-confirmDialog class="custom-dialog-container" key="confirm" #confirm>
  <p-footer>
    <i class="fa fa-exclamation-circle fa-4x" style="color:orange"></i>
    <h3>{{confirm.header}}</h3>
    <p class="message">{{confirm.message}}</p>
    <button *ngIf="confirm.rejectVisible" type="button" class="ui-button-secondary" label="{{confirm.rejectLabel}}" pButton (click)="confirm.reject()"></button>
    <button *ngIf="confirm.acceptVisible" type="button" class="ui-button-danger" label="{{confirm.acceptLabel}}" pButton (click)="confirm.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog class="custom-dialog-container" key="notice" #notice>
  <p-footer>
    <i class="fa fa-exclamation-circle fa-4x" style="color:#007ad9"></i>
    <h3>{{notice.header}}</h3>
    <p class="message">{{notice.message}}</p>
    <button type="button" class="ui-button-info" label="{{notice.acceptLabel}}" pButton (click)="notice.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog class="custom-dialog-container" key="question" #question>
  <p-footer>
    <i class="fa fa-question-circle fa-4x" style="color:#007ad9"></i>
    <h3>{{question.header}}</h3>
    <p class="message">{{question.message}}</p>
    <button *ngIf="question.rejectVisible" type="button" class="ui-button-secondary" label="{{question.rejectLabel}}" pButton (click)="question.reject()"></button>
    <button *ngIf="question.acceptVisible" type="button" class="ui-button-info" label="{{question.acceptLabel}}" pButton (click)="question.accept()"></button>
  </p-footer>
</p-confirmDialog>