<p-dataView #dt *ngIf="invites" [(value)]="invites"
                                [paginator]="true" [rows]="rowsPerPage"
                                [totalRecords]="invites.length"
                                (onPage)="onPaginate($event)">
    <p-header>List of invites</p-header>
    <ng-template let-invite pTemplate="listItem">
        <div class="ui-g ui-g-12 invite-item">
            <div class="ui-g ui-g-12 item-link">
                <div class="ui-g-12">Invite link:</div>
                <div class="ui-g-12 date">
                    <div class="ui-fluid item-input">
                        <input type="text" disabled pInputText placeholder="{{invite.showLink}}">
                    </div>
                    <p-button label="Copy" class="invite-item-button" (click)="onCopy(invite.showLink)"></p-button>
                    <button pButton type="button" class="ui-button-danger invite-item-button" (click)="onDelete(invite.invite.id)" label="Delete"></button>
                </div>
            </div>
            <div class="ui-g ui-g-12 invite-info">
                <div class="ui-g-12">Expired at:</div>
                <div class="ui-g-12 date">
                    <div class="ui-fluid item-input">
                        <p-calendar class="item-input" [(ngModel)]="invite.invite.experationDate"></p-calendar>
                    </div>
                    <button type="button" class="ui-button ui-state-default ui-corner-all ui-button-success invite-item-button" (click)="onUpdate(invite.invite.id)" [disabled]="isUpdating">
                        <p-progressSpinner class="btn-spinner" *ngIf="isUpdating && updatingItem === invite.invite.id" strokeWidth="5"></p-progressSpinner>
                        <span class="ui-button-text" *ngIf="(isUpdating && updatingItem !== invite.invite.id) || !isUpdating">Update</span>
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
        <button type="button" pButton icon="fa-refresh"></button>
    </ng-template>
    <ng-template pTemplate="paginatoright">
        <button type="button" pButton icon="fa-cloud-upload"></button>
    </ng-template>
</p-dataView>
