<app-resource-table
  style="width:100%"
  *ngIf="chart.type === type.ResourcesTable"
  [sources]="chart.dataSources"
  [data]="chart.colectedData">
</app-resource-table>

<ngx-charts-line-chart
  *ngIf="chart.type === type.LineChart"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [autoScale]="chart.autoScale"
  [showGridLines]="chart.showGridLines"
  [curve]="chart.curve"
  [rangeFillOpacity]="chart.rangeFillOpacity"
  [roundDomains]="chart.roundDomains"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxisTickFormatting]="chart.dateTickFormatting">
</ngx-charts-line-chart>

<ngx-charts-bar-vertical
  *ngIf="chart.type === type.BarVertical"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines">
</ngx-charts-bar-vertical>

<ngx-charts-bar-horizontal
  *ngIf="chart.type === type.BarHorizontal"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines">
</ngx-charts-bar-horizontal>

<ngx-charts-bar-vertical-2d
  *ngIf="chart.type === type.BarVertical2D"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  xxxbarPadding="chart.barPadding"
  xxxgroupPadding="chart.groupPadding"
  [roundDomains]="chart.roundDomains">
</ngx-charts-bar-vertical-2d>

<ngx-charts-bar-horizontal-2d
  *ngIf="chart.type === type.BarHorizontal2D"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains">
</ngx-charts-bar-horizontal-2d>

<ngx-charts-bar-vertical-stacked
  *ngIf="chart.type === type.BarVerticalStacked"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains">
</ngx-charts-bar-vertical-stacked>

<ngx-charts-bar-horizontal-stacked
  *ngIf="chart.type === type.BarHorizontalStacked"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains">
</ngx-charts-bar-horizontal-stacked>

<ngx-charts-bar-vertical-normalized
  *ngIf="chart.type === type.BarVerticalNormalized"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains">
</ngx-charts-bar-vertical-normalized>

<ngx-charts-bar-horizontal-normalized
  *ngIf="chart.type === type.BarHorizontalNormalized"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [gradient]="chart.gradient"
  [tooltipDisabled]="chart.tooltipDisabled"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains">
</ngx-charts-bar-horizontal-normalized>

<ngx-charts-polar-chart
  *ngIf="chart.type === type.PolarChart"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [autoScale]="chart.autoScale"
  [showGridLines]="chart.showGridLines"
  [rangeFillOpacity]="chart.rangeFillOpacity"
  [roundDomains]="chart.roundDomains"
  [tooltipDisabled]="chart.tooltipDisabled"
  [curve]="chart.curveClosed">
</ngx-charts-polar-chart>

<ngx-charts-area-chart
  *ngIf="chart.type === type.AreaChart"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [activeEntries]="activeEntries"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [autoScale]="chart.autoScale"
  [roundDomains]="chart.roundDomains"
  [showGridLines]="chart.showGridLines"
  [curve]="chart.curve"
  [tooltipDisabled]="chart.tooltipDisabled">
</ngx-charts-area-chart>

<ngx-charts-area-chart-stacked
  *ngIf="chart.type === type.AreaChartStacked"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains"
  [tooltipDisabled]="chart.tooltipDisabled"
  [curve]="chart.curve">
</ngx-charts-area-chart-stacked>

<ngx-charts-area-chart-normalized
  *ngIf="chart.type === type.AreaChartNormalized"
  class="chart-container"
  [scheme]="chart.colorScheme"
  [schemeType]="chart.schemeType"
  [results]="data"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [gradient]="chart.gradient"
  [xAxis]="chart.showXAxis"
  [yAxis]="chart.showYAxis"
  [showXAxisLabel]="chart.showXAxisLabel"
  [showYAxisLabel]="chart.showYAxisLabel"
  [xAxisLabel]="chart.xAxisLabel"
  [yAxisLabel]="chart.yAxisLabel"
  [showGridLines]="chart.showGridLines"
  [roundDomains]="chart.roundDomains"
  [tooltipDisabled]="chart.tooltipDisabled"
  [curve]="chart.curve">
</ngx-charts-area-chart-normalized>

<ngx-charts-pie-chart
  *ngIf="chart.type === type.Pie"
  [scheme]="chart.colorScheme"
  [results]="data"
  [activeEntries]="activeEntries"
  [legend]="chart.showLegend"
  [legendTitle]="chart.legendTitle"
  [explodeSlices]="false"
  [labels]="chart.showXAxisLabel"
  [doughnut]="false"
  [gradient]="chart.gradient"
  [tooltipDisabled]="chart.tooltipDisabled">
</ngx-charts-pie-chart>

<ngx-charts-pie-grid
  *ngIf="chart.type === type.PieGrid"
  [scheme]="chart.colorScheme"
  [results]="data">
</ngx-charts-pie-grid>

<ngx-charts-advanced-pie-chart
*ngIf="chart.type === type.AdvancedPie"
class="chart-container"
[scheme]="chart.colorScheme"
[results]="data"
[valueFormatting]="valueFormatting"
[gradient]="chart.gradient"
[tooltipDisabled]="chart.tooltipDisabled"
[tooltipText]="chart.pieTooltipText">
</ngx-charts-advanced-pie-chart>

<ngx-charts-gauge
  *ngIf="chart.type === type.Guage"
  [scheme]="chart.colorScheme"
  [results]="data"
  [activeEntries]="activeEntries"
  [units]="chart.yAxisLabel"
  [min]="chart.yScaleMin"
  [max]="chart.yScaleMax">
</ngx-charts-gauge>

<ngx-charts-heat-map
*ngIf="chart.type === type.HeatMap"
class="chart-container"
[scheme]="chart.colorScheme"
[results]="data"
[legend]="chart.showLegend"
[gradient]="chart.gradient"
[xAxis]="chart.showXAxis"
[yAxis]="chart.showYAxis"
[showXAxisLabel]="chart.showXAxisLabel"
[showYAxisLabel]="chart.showYAxisLabel"
[xAxisLabel]="chart.xAxisLabel"
[yAxisLabel]="chart.yAxisLabel"
[tooltipDisabled]="chart.tooltipDisabled">
</ngx-charts-heat-map>

<ngx-charts-tree-map
  *ngIf="chart.type === type.TreeMap"
  [scheme]="chart.colorScheme"
  [results]="data"
  [gradient]="chart.gradient"
  [tooltipDisabled]="chart.tooltipDisabled">
</ngx-charts-tree-map>

<ngx-charts-number-card
  *ngIf="chart.type === type.NumberCards"
  [scheme]="chart.colorScheme"
  cardColor="#232837"
  [results]="data">
</ngx-charts-number-card>

<div class="svg-saver-container" *ngIf="showDownload">
  Download:
  <ngx-button (click)="svgSaver.asSvg()">SVG</ngx-button>
  <ngx-button (click)="svgSaver.asPng()">PNG</ngx-button>
</div>


