<app-authorization [showSignInOutBtn]="false" [(display)]="showLoginForm" [invitedOrganization]="organization"
(successfulSignIn)="successfulSignIn()" ></app-authorization>
  <div class="center">
    <div>
      <h3>INVITE</h3>
      <hr>
      <div>User {{createdByUserName}} granted you access to the organization {{organizationName}}.</div>
    </div>
    <div class="btn-panel">
      <button pButton type="submit" label="Accept" (click)="onAccept()" class="ui-button-raised ui-button-success"></button>
      <button pButton type="submit" label="Reject" (click)="onReject()" class="ui-button-raised ui-button-danger"></button>
    </div> 
  </div>

